.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@-webkit-keyframes leaf {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  30% {
    background-color: green;
    border-color: rgb(26, 94, 17);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    background-color: green;
    border-color: rgb(26, 94, 17);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    background-color: rgb(216, 188, 30);
    border-color: rgb(255, 102, 0);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    background-color: rgb(204, 131, 20);
    border-color: rgb(255, 102, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    background-color: rgb(236, 106, 20);
    border-color: rgb(255, 102, 0);
    -webkit-transform: scale(0.3) translate(-300%);
            transform: scale(0.3) translate(-300%);
    opacity: 0;
  }
}

@keyframes leaf {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  30% {
    background-color: green;
    border-color: rgb(26, 94, 17);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    background-color: green;
    border-color: rgb(26, 94, 17);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    background-color: rgb(216, 188, 30);
    border-color: rgb(255, 102, 0);
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    background-color: rgb(204, 131, 20);
    border-color: rgb(255, 102, 0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    background-color: rgb(236, 106, 20);
    border-color: rgb(255, 102, 0);
    -webkit-transform: scale(0.3) translate(-300%);
            transform: scale(0.3) translate(-300%);
    opacity: 0;
  }
}
@-webkit-keyframes bloom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bloom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes berry {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes berry {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  cursor: pointer;
}

.tree {
  position: relative;
  width: 15px;
  height: 900px;
  background-color: rgb(53, 33, 4);
  border-radius: 170% 170% 0 0;
}

.branch-1R {
  position: absolute;
  z-index: 0;
  bottom: 200px;
  right: 5px;
  width: 250px;
  height: 8px;
  background-color: rgb(53, 33, 4);
  border-radius: 100% 0 0 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}
.branch-1R-1R {
  position: absolute;
  z-index: 0;
  bottom: 20px;
  right: 30px;
  width: 70px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}
.branch-1R-2R {
  position: absolute;
  z-index: 0;
  bottom: 15px;
  right: 120px;
  width: 50px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}
.branch-1R-3R {
  position: absolute;
  z-index: 0;
  bottom: 8px;
  right: 200px;
  width: 30px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}
.branch-1R-4L {
  position: absolute;
  z-index: 0;
  bottom: -15px;
  right: 75px;
  width: 60px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}
.branch-1R-5L {
  position: absolute;
  z-index: 0;
  bottom: -10px;
  right: 160px;
  width: 40px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.branch-2R {
  position: absolute;
  z-index: 0;
  bottom: 500px;
  right: 5px;
  width: 200px;
  height: 7px;
  background-color: rgb(53, 33, 4);
  border-radius: 100% 0 0 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}
.branch-2R-1R {
  position: absolute;
  z-index: 0;
  bottom: 15px;
  right: 30px;
  width: 60px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}
.branch-2R-2R {
  position: absolute;
  z-index: 0;
  bottom: 10px;
  right: 100px;
  width: 40px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}
.branch-2R-3R {
  position: absolute;
  z-index: 0;
  bottom: 7px;
  right: 170px;
  width: 25px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}
.branch-2R-4L {
  position: absolute;
  z-index: -10;
  bottom: -10px;
  right: 75px;
  width: 40px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}
.branch-2R-5L {
  position: absolute;
  z-index: 0;
  bottom: -5px;
  right: 140px;
  width: 25px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.branch-3R {
  position: absolute;
  z-index: 0;
  bottom: 650px;
  right: 5px;
  width: 140px;
  height: 6px;
  background-color: rgb(53, 33, 4);
  border-radius: 100% 0 0 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}
.branch-3R-1R {
  position: absolute;
  z-index: 0;
  bottom: 15px;
  right: 30px;
  width: 50px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}
.branch-3R-2R {
  position: absolute;
  z-index: 0;
  bottom: 7px;
  right: 100px;
  width: 25px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}
.branch-3R-3L {
  position: absolute;
  z-index: 0;
  bottom: -10px;
  right: 65px;
  width: 30px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.branch-4R {
  position: absolute;
  z-index: 0;
  bottom: 800px;
  right: 5px;
  width: 80px;
  height: 6px;
  background-color: rgb(53, 33, 4);
  border-radius: 100% 0 0 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}
.branch-4R-1R {
  position: absolute;
  z-index: 0;
  bottom: 9px;
  right: 30px;
  width: 30px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}
.branch-4R-2L {
  position: absolute;
  z-index: 0;
  bottom: -5px;
  right: 50px;
  width: 15px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.branch-1L {
  position: absolute;
  z-index: 0;
  bottom: 230px;
  right: 10px;
  width: 250px;
  height: 8px;
  background-color: rgb(53, 33, 4);
  border-radius: 100% 0 0 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.branch-1L-1L {
  position: absolute;
  z-index: 0;
  bottom: -18px;
  right: 30px;
  width: 70px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}
.branch-1L-2L {
  position: absolute;
  z-index: 0;
  bottom: -10px;
  right: 120px;
  width: 50px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}
.branch-1L-3L {
  position: absolute;
  z-index: 0;
  bottom: -6px;
  right: 200px;
  width: 30px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}
.branch-1L-4R {
  position: absolute;
  z-index: 0;
  bottom: 18px;
  right: 75px;
  width: 60px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}
.branch-1L-5R {
  position: absolute;
  z-index: 0;
  bottom: 10px;
  right: 160px;
  width: 40px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.branch-2L {
  position: absolute;
  z-index: 0;
  bottom: 520px;
  right: 10px;
  width: 190px;
  height: 7px;
  background-color: rgb(53, 33, 4);
  border-radius: 100% 0 0 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.branch-2L-1L {
  position: absolute;
  z-index: 0;
  bottom: -15px;
  right: 30px;
  width: 60px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}
.branch-2L-2L {
  position: absolute;
  z-index: 0;
  bottom: -10px;
  right: 100px;
  width: 40px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}
.branch-2L-3R {
  position: absolute;
  z-index: 0;
  bottom: 10px;
  right: 75px;
  width: 40px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}
.branch-2L-4R {
  position: absolute;
  z-index: 0;
  bottom: 7px;
  right: 140px;
  width: 25px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.branch-3L {
  position: absolute;
  z-index: 0;
  bottom: 660px;
  right: 10px;
  width: 130px;
  height: 6px;
  background-color: rgb(53, 33, 4);
  border-radius: 100% 0 0 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.branch-3L-1L {
  position: absolute;
  z-index: 0;
  bottom: -13px;
  right: 30px;
  width: 50px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}
.branch-3L-2L {
  position: absolute;
  z-index: 0;
  bottom: -6px;
  right: 100px;
  width: 25px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}
.branch-3L-3R {
  position: absolute;
  z-index: 0;
  bottom: 10px;
  right: 65px;
  width: 30px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.branch-4L {
  position: absolute;
  z-index: 0;
  bottom: 810px;
  right: 5px;
  width: 70px;
  height: 6px;
  background-color: rgb(53, 33, 4);
  border-radius: 100% 0 0 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.branch-4L-1L {
  position: absolute;
  z-index: 0;
  bottom: -7px;
  right: 25px;
  width: 30px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}
.branch-4L-2R {
  position: absolute;
  z-index: 0;
  bottom: 5px;
  right: 50px;
  width: 10px;
  height: 4px;
  background-color: rgb(53, 33, 4);
  border-radius: 0 170% 170% 0;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.branch-1-2 {
  bottom: 350px;
}

.branch-2-1 {
  bottom: 370px;
}

.leaf {
  display: none;
  position: absolute;
  z-index: 100;
  right: -3px;
  top: 3px;
  z-index: 0;
  background-color: green;
  width: 35px;
  height: 30px;
  border: 1px solid rgb(26, 94, 17);
  border-radius: 50% 0 50% 0;
}

.leaf__wrap {
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 10px;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(190deg);
          transform: rotate(190deg);
}

.leaf__wrap-1 {
  position: absolute;
  z-index: 100;
  right: 50%;
  top: 3px;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

.leaf__wrap-2 {
  position: absolute;
  z-index: 100;
  right: 10%;
  top: 3px;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(170deg);
          transform: rotate(170deg);
}

.leaf__wrap-3 {
  position: absolute;
  z-index: 100;
  right: 35%;
  top: 3px;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(-200deg);
          transform: rotate(-200deg);
}

.leaf__wrap-4 {
  position: absolute;
  z-index: 100;
  right: 20%;
  top: 3px;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
}

.leaf__wrap-5 {
  position: absolute;
  z-index: 100;
  right: 20%;
  top: 3px;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.leaf__wrap-6 {
  position: absolute;
  z-index: 100;
  right: 20%;
  top: 3px;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.leaf {
  -webkit-animation-duration: 12000ms;
          animation-duration: 12000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 10;
          animation-iteration-count: 10;
}

.checkbox:checked + .wrap .leaf {
  -webkit-animation-name: leaf;
          animation-name: leaf;
  display: block;
}

.bloom {
  position: relative;
  z-index: 1000;
  display: none;
  -webkit-animation-duration: 12000ms;
          animation-duration: 12000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 10;
          animation-iteration-count: 10;
}

.bloom-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: rgb(252, 116, 190);
  border-radius: 50%;
  border: 1px solid #eec4f1;
}

.bloom-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-75%, -95%);
          transform: translate(-75%, -95%);
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid #eec4f1;
}

.bloom-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid #eec4f1;
}

.bloom-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-75%, 0%);
          transform: translate(-75%, 0%);
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid #eec4f1;
}

.bloom-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-15%, -5%);
          transform: translate(-15%, -5%);
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid #eec4f1;
}

.bloom-5 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid #eec4f1;
}

.bloom-6 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-15%, -85%);
          transform: translate(-15%, -85%);
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid #eec4f1;
}

.bloom__wrap {
  position: absolute;
  right: 20%;
  z-index: 2000;
  width: 20px;
  height: 20px;
}

.checkbox:checked + .wrap .bloom {
  -webkit-animation-name: bloom;
          animation-name: bloom;
  display: block;
}

.berry {
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 2000;
  width: 0;
  height: 0;
  display: none;
  opacity: 0;
  -webkit-animation-duration: 12000ms;
          animation-duration: 12000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 10;
          animation-iteration-count: 10;
}

.berry-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 23px;
  height: 20px;
  background-color: rgb(27, 1, 75);
  border-radius: 50%;
  border: 1px solid rgb(27, 1, 75);
}

.berry-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.berry-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-60%, -55%);
          transform: translate(-60%, -55%);
  width: 10px;
  height: 10px;
  background-color: rgb(27, 1, 75);
  border-radius: 50%;
}

.checkbox:checked + .wrap .berry {
  -webkit-animation-name: berry;
          animation-name: berry;
  display: block;
}/*# sourceMappingURL=main.css.map */