@keyframes leaf {
  0% {
    opacity: 0;
    transform: scale(0.1);
    transform-origin: right;
  }

  30% {
    background-image: linear-gradient(
      to left,
      rgb(26, 94, 17),
      rgb(35, 151, 20)
    );
    border-color: rgb(26, 94, 17);
    opacity: 1;
    transform: scale(1);
  }
  70% {
    background-image: linear-gradient(
      to left,
      rgb(26, 94, 17),
      rgb(35, 151, 20)
    );
    border-color: rgb(26, 94, 17);
    opacity: 1;
    transform: scale(1);
  }

  80% {
    background-image: linear-gradient(
      to left,
      rgb(209, 183, 38),
      rgb(204, 131, 20)
    );
    border-color: rgb(255, 102, 0);
    opacity: 1;
    transform: scale(1);
  }

  90% {
    bbackground-image: linear-gradient(
      to left,
      rgb(204, 131, 20),
      rgb(236, 106, 20)
    );
    border-color: rgb(255, 102, 0);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    background-color: rgb(236, 106, 20);
    border-color: rgb(255, 102, 0);
    transform: scale(0.3) translate(-300%);
    opacity: 0;
  }
}

@keyframes bloom {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes berry {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  78% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes weather {
  0% {
    background-image: linear-gradient(
      to top,
      rgb(27, 85, 22),
      rgb(229, 233, 229),
      rgb(19, 107, 107)
    );
  }
  30% {
    background-image: linear-gradient(
      to top,
      rgb(40, 121, 32),
      rgb(229, 233, 229),
      rgb(57, 154, 199)
    );
  }
  60% {
    background-image: linear-gradient(
      to top,
      rgb(44, 143, 35),
      rgb(229, 233, 229),
      rgb(87, 181, 224)
    );
  }

  75% {
  }

  78% {
    background-image: linear-gradient(
      to top,
      rgb(107, 128, 33),
      rgb(229, 233, 229),
      rgb(19, 107, 107)
    );
  }

  100% {
    background-image: linear-gradient(
      to top,
      rgb(81, 95, 29),
      rgb(229, 233, 229),
      rgb(62, 94, 94)
    );
  }
}
