.bloom {
  position: relative;
  z-index: 1000;
  display: none;
  animation-duration: 12000ms;
  animation-timing-function: linear;
  animation-iteration-count: 10;
}

.bloom-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: rgb(252, 116, 190);
  border-radius: 50%;
  border: 1px solid #eec4f1;
}
.bloom-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -95%);
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid #eec4f1;
}
.bloom-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid #eec4f1;
}
.bloom-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, 0%);
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid #eec4f1;
}
.bloom-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -5%);
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid #eec4f1;
}
.bloom-5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid #eec4f1;
}
.bloom-6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -85%);
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid #eec4f1;
}
.bloom__wrap {
  position: absolute;
  right: 20%;
  z-index: 2000;
  width: 20px;
  height: 20px;
}

.checkbox:checked + .wrap .bloom {
  animation-name: bloom;
  display: block;
}
